<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand logo-header" href="#">Play Poker</a> </div>
        <div id="navbar" class="navbar-collapse collapse nav navbar-right" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- /.navbar -->

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12">
            <div>
                <br><br>
            </div>
            <div class="row login-col-xs">
                <div class="col-xs-6 col-lg-6 text-center">
                    <!--<h3>Heading</h3>-->
                    <img src="../static/images/Agile.png" class="img-responsive" >
                    <div class="card-text">
                        <h3 class="text-size">How does Play Poker work?</h3>
                    </div>
                    <p>The idea behind Planning Poker is simple. Individual stories are presented for estimation. After a period of discussion, each participant chooses from his own deck the numbered card that represents his estimate of how much work is involved in the story under discussion. <!--All estimates are kept private until each participant has chosen a card. At that time, all estimates are revealed and discussion can begin again.--></p>
                </div>
                <!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-6 new-user-login">
                    <h3 class="margin-top-bottom">Are you a new user?</h3>

                    <form class="form-txt-color"  name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                            <div class="input-group width100">
                                <input type="text" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
                                <label><sup>*</sup>First Name</label>
                                <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                            <div class="input-group width100">
                                <input type="text" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
                                <label><sup>*</sup>Last Name</label>
                                <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                            <div class="input-group width100">
                                <input type="text" name="username" [(ngModel)]="model.playername" #username="ngModel" required />
                                <label><sup>*</sup>Player Name</label>
                                <div *ngIf="f.submitted && !username.valid" class="help-block">Playername is required</div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                            <div class="input-group width100">
                                <input type="text" name="email" [(ngModel)]="model.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
                                <label><sup>*</sup>Email</label>
                                <div *ngIf="f.submitted && email.errors && email.errors.required" class="help-block">Email is required</div>
                                <div *ngIf="f.submitted &&  email.errors && !email.errors.required && !email.valid" class="help-block">should be in email format</div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                            <div class="input-group width100">
                                <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                                <label><sup>*</sup>Password</label>
                                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                            </div>
                        </div>

                        <div class="marg-top20 text-center">
                            <button type="submit" [disabled]="loading" class="btn btn-primary">Save</button>&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary">Cancel</button> </div>
                        <div class="margin-top20  text-center"><span class="inline line-33">Already have an account? Click here <a [routerLink]="['/login']" class="blue-txt-color sign-in"><strong>Login »</strong></a></span> </div>
                    </form>
                </div>
                <!--/.col-xs-6.col-lg-4-->


            </div>
            <!--/row-->
        </div>
        <!--/.col-xs-12.col-sm-12-->

    </div>
    <!--/row-->
    <br><br>
    <hr>
    <footer class="text-center">
        <p>© Xavient Information Systems, Inc. 2017</p>
    </footer>
</div>


