<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="icon" href="images/favicon.ico">-->
  <title>Play Poker</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/offcanvas.css" rel="stylesheet">
  <link href="../static/css/style-input.css" rel="stylesheet">
  <link href="../static/css/customize.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand logo-header" href="#">Play Poker</a> </div>
    <div id="navbar" class="navbar-collapse collapse nav navbar-right" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <!-- /.nav-collapse -->
  </div>
  <!-- /.container -->
</nav>
<!-- /.navbar -->

<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-12">
      <div><br>
        <br>
      </div>
      <div class="row login-col-xs">
        <div class="col-xs-6 col-lg-6 text-center">
          <!--<h3>Heading</h3>-->
          <img src="../static/images/Agile.png" class="img-responsive" >
          <div class="card-text">
            <h3 class="text-size">How does Play Poker work?</h3>
          </div>
          <p>The idea behind Planning Poker is simple. Individual stories are presented for estimation. After a period of discussion, each participant chooses from his own deck the numbered card that represents his estimate of how much work is involved in the story under discussion. <!--All estimates are kept private until each participant has chosen a card. At that time, all estimates are revealed and discussion can begin again.--></p>
        </div>
        <!--/.col-xs-6.col-lg-4-->

        <div class="col-xs-6 col-lg-6 new-user-login">
          <h3 class="margin-top-bottom">Please fill the below details to join game.</h3>
          <form class="form-txt-color" role="form" name="form" (ngSubmit)="f.form.valid && playerLogin()" #f="ngForm" novalidate method="post">
            <input type="hidden" name="guid" id="guid" value="${guid}"  [(ngModel)]="model.guid" #name="ngModel"/>
            <div class="form-group fname-sec">
              <div class="input-group width100">

                <input type="text" name="name" [(ngModel)]="model.name" #name="ngModel" required />
                <label for="pName" class="input-group-addon glyphicon glyphicon-user"></label>
                <div *ngIf="f.submitted && !name.valid" class="help-block">Player Name is required</div>
                <label><sup>*</sup>Player Name</label>
              </div>
            </div>
            <!-- /.form-group -->

            <div class="form-group">
              <div class="input-group width100">

                <input type="text" name="email" [(ngModel)]="model.email" #email="ngModel" required />
                <label for="pEmail" class="input-group-addon glyphicon glyphicon-envelope"></label>
                <div *ngIf="f.submitted && !email.valid" class="help-block">Email Address is required</div>
                <label><sup>*</sup>Email Address</label>
              </div>
            </div>
            <!-- /.form-group -->

            <div class="checkbox" style="min-height: 45px;">
              <label>
                <input type="checkbox" style="pointer-events:auto;">
                Join as spectator? </label>
            </div>
            <div class="marg-top20 text-center">
              <button type="submit" class="btn btn-primary">Cancel</button>              &nbsp;&nbsp;&nbsp;
              <button type="submit" class="btn btn-primary" [routerLink]="['/playerLogin']">Play</button>
            </div>
          </form>
        </div>
        <!--/.col-xs-6.col-lg-4-->

      </div>
      <!--/row-->
    </div>
    <!--/.col-xs-12.col-sm-12-->

  </div>
  <!--/row-->
  <br>
  <br>
  <hr>
  <footer class="text-center">
    <p>Â© Xavient Information Systems, Inc. 2017</p>
  </footer>
</div>
<!--/.container-->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/js/jquery.min.js.download"></script>
<script src="../static/js/bootstrap.min.js.download"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/js/ie10-viewport-bug-workaround.js.download"></script>
<script src="../static/js/offcanvas.js.download"></script>
</body>
</html>